<div class="about">
    <div class="header"></div>
    <div class="baseContent">
        <h3>
          Profile info
          <a href="#about" id="mProfEditButt">
            <i class="icon ion-android-create"></i>
          </a>
          <div class="options hidden">
            <a id="oCancel" href="#about">Cancel</a>
            <a id="oSave" href="#about">Save</a>
          </div>

        </h3>
        <ul>
            <li>
                <i class="icon"></i>
                <span>Value Goes here</span>
                <a href="#about">
                    <i class="icon ion-android-create"></i>
                </a>
            </li>
        </ul>
        <div id="mProfEdit" class="hidden">
          <p>
            <input type="text" name="" value="" id="pFirstName" required>
            <label for="pFirstName">First Name</label>
          </p>
          <p>
            <input type="text" name="" value="Doe" id="pLastName" required>
            <label for="pLastName">Last Name</label>
          </p>
          <p>
            <input type="text" name="" value="http://www.seller.com" id="pWebsite" required>
            <label for="pWebsite">Website</label>
          </p>
          <p>
            <input type="text" name="" value="http://www.seller.com" id="pPhone" required>
            <label for="pPhone">Phone Number</label>
          </p>
          <p>
            <input type="text" name="" value="NewPort Beach, CA" id="pLocation" required>
            <label for="pLocation">City, State & zip</label>
          </p>
        </div>
    </div>
</div>
<div class="tooltip">
    <p>
        <label for="tInput">Name Goes Here</label>
    </p>
    <p>
        <input type="text" id="tInput" name="" value="">
    </p>
    <p>
        <button type="button" name="button" id="tSave">Save</button>
        <button type="button" name="button" id="tCancel">Cancel</button>
    </p>
</div>
