<div class="logInOut">
    <a href="#" class="logOut">Log Out</a>
</div>
<div class="cover">
    <button type="button" name="button" class="icon ion-alerts"><i class="icon ion-ios-camera"></i>Upload Cover Image</button>
</div>
<div class="profInfo">
    <div class="left">
        <img src="img/profile_image.jpg" class="profilePicture" alt="" />
    </div>
    <div class="center">
        <h4>Jessica Parker</h4>
        <span class="location"><i class="icon ion-ios-location-outline"></i>Newport Beach, CA</span>
        <span class="phone"><i class="icon ion-ios-telephone-outline"></i> (949) 325 - 68594</span>
    </div>
    <div class="right">
        <div class="stars">
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star"></i>
            <i class="icon ion-android-star-outline"></i>
        </div>
        <span>6 Reviews</span>
    </div>
</div>
<div class="menu">
    <div class="ulWrap">
        <ul>
            <li class="about"><a href="#about">About</a></li>
            <li class="settings"><a href="#settings">Settings</a></li>
            <li><a href="#about">Option1</a></li>
            <li><a href="#about">Option2</a></li>
            <li><a href="#about">Option3</a></li>
        </ul>
    </div>
    <div class="followers">
        <i class="icon ion-ios-plus"></i>
        <span>15</span> Followers
    </div>

</div>
