<div class="loginContainer">
    <h3>Login</h3>
    <hr>
    <form class="" action="index.html" method="post">
        <p>
            <input type="text" id="emailInput" name="" value="" required>
            <label for="emailInput">Email</label>
        </p>
        <p>
            <input type="text" id="passwordInput" required>
            <label for="passwordInput">Password</label>
        </p>
        <p class="finePrint">
            Signing up or clicking continue, I confirm that I have read and agree to the <a href="#">Terms</a> and <a href="#">Privacy Policy</a>
        </p>
    </form>
    <a id="loginBtn" href="#about">Login</a>
</div>
