<div class="settings">
    <div class="header"></div>
    <div class="baseContent">
        <h3>
          Settings
          <div class="options">
            <a id="oCancel" href="#about">Cancel</a>
            <a id="oSave" href="#about">Save</a>
          </div>
        </h3>
        <form class="" action="index.html" method="post">
            <p>
                <input type="text" name="" value="" placeholder="Existing Password">
            </p>
            <p>
                <input type="text" name="" value="" placeholder="New Password">
            </p>
            <p>
                <input type="text" name="" value="" placeholder="Confirm Password">
            </p>
            <p>
                <button type="button" name="button">Save</button>
            </p>
        </form>
    </div>
</div>
