body {
    background-color: #f5f8f9;

    .container {
        max-width: 1169px;

        .about {
            width: 100%;

            .baseContent {
                text-align: left;
                padding: 22px 22px 0;
                float: left;
                width: 100%;
                min-height: 616px;
                @include shadow( '',0px,6px);
                background: #FFF;
                margin-top: 37px;
                margin-bottom: 264px;

                h3 {
                    color: #727e88;
                    font-size: 24px;
                    font-weight: 200;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    li {
                        padding: 11px 0 11px 11px;
                        display: table;
                        margin: 0;
                        list-style-type: none;
                        background-color: #f5f8f8;

                        span {}

                        i {
                            color: #a8b8c4;
                            margin-right: 10px;
                            font-size: 21px;
                        }

                        a {
                            margin-left: 24px;
                            background: #ecf1f5;
                            padding: 10px 11px;

                            i {
                                color: #727e88;
                                margin-right: 0;
                                display: inline-block;
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
        }
    }
}
