@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}
@mixin shadow($status,$spread: 2px,$blur: 12px) {
    @if $status == 'clear' {
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,1);
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0,1);
        box-shadow: 0 0 0 0 rgba(0,0,0,1);
    }
    @else {
        -webkit-box-shadow: 0 0 $blur $spread rgba(158,158,158,1);
        -moz-box-shadow: 0 0 $blur $spread rgba(158,158,158,1);
        box-shadow: 0 0 $blur $spread rgba(158,158,158,1);
    }
}
@mixin labelTransition($duration: 0.2s) {
    pointer-events: none;
    transition: $duration ease all;
    -moz-transition: $duration ease all;
    -webkit-transition: $duration ease all;
}
