/* iPhone 6+  */
/* Portrait */
@media only screen and (max-device-width: 414px) and (orientation: portrait) {
    body {
        background: none;

        &.login {
            display: block;
            min-height: 0;
            background-image: none;

            .container {
                width: 86%;
                margin: auto;
                @import 'mobile_login';

                a {
                    &#loginBtn {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                    }
                }
            }
        }

        .container {
            @import 'mobile_header';

            .baseContent {}
            @import 'mobile_about';
            @import 'mobile_settings';
        }
    }
}
