.header {
    padding: 0;
    margin: 0;
    margin-top:22px;

    .logInOut {
        a {
            &.logOut {
                border: 0 solid red;
                text-decoration: none;
                margin-right: 10px;
            }
        }
    }

    .cover {
        display: none;
    }

    .profInfo {
      margin:0 18px;
      margin-top:43px;
        .left {
            float: none;
            width: 100%;
            img {
                &.profilePicture {
                }
            }
        }
        .center{
          float:none;
          h4{
            text-align: center;
          }
        }
        .right{
          text-align: left;
          float:left;
          width: 100%;
          .stars{
            float:none;
            i{
              color:#007ee5;
            }
          }
          span{
            word-spacing: 5px;
            float:none;
            display: block;
          }
        }
    }
    .menu{

      float:none;
      display: block;
    }
}
