.header {
    padding: 0;
    margin: 0;

    .logInOut {
        a {
            &.logOut {
                border: 0 solid red;
                text-decoration: none;
            }
        }
    }

    .cover {
        display: none;
    }

    .profInfo {
        margin: 43px 18px 0;
        float: none;

        .left {
            margin: 0;
            padding: 0;
            float: none;
            width: 100%;

            .center {
                margin: 0;
                padding: 0;
                float: none;

                h4 {
                    text-align: center;
                }
            }

            .right {
                margin: 0;
                padding: 0;
                float: none;
                text-align: left;
                max-width: 100%;
                width: 100%;

                .stars {
                    float: none;

                    i {
                        color: #007ee5;
                    }
                }

                span {
                    word-spacing: 5px;
                    float: none;
                    display: block;
                }
            }
        }

        .menu {
            padding: 0;
            position: relative;
            float: none;
            margin: 0;
            float: none;
            display: block;
            margin-top: 66px;

            ul {
                margin: 0;
                padding: 0;
            }

            .followers {
                position: absolute;
                left: 20px;
                top: -61px;
            }
        }
    }
}
