.header {
    padding: 0;
    margin: 0;

    .logInOut {
        a {
            &.logOut {
                border: 0 solid red;
                text-decoration: none;
            }
        }
    }
}
