/* iPhone 6+  */
/* Portrait */
@media only screen and (max-device-width: 414px) and (orientation: portrait) {
    body {
      background:none;
        &.login {
          display: block;
          min-height: 0px;
          background-image: none;
            .container {
              width: 86%;
              margin:auto;
              @import 'mobile_login';
                a{
                  &#loginBtn{
                    position:absolute;
                    bottom:0px;
                    left:0px;
                    width:100%;
                  }
                }
            }
        }
    }
}
