.about{
  .baseContent{
    h3{
      margin-top: 5px;
      font-size: 20px;
      a{
        display: block;
        float:right;
        background: #ecf1f5;
        padding:0px 7px;
        i{
          color:#727e88;
        }
      }
      .options{
        float:right;
        a{
          background: none;
          color:#007ee5;
          font-size: 14px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
    ul{
      li{
        margin:0px;
        padding:0px;
        margin-bottom: 11px;
        background-color: inherit;
        a{
          display: none;
        }
        &:nth-child(1){
          i{
            display: none
          }
        }
      }
    }
    #mProfEdit{
      p{
        position: relative;
        label{
          position: absolute;
          left: 0;
          top:10px;
          width: 100%;
          font-size: 16px;
          font-weight: 200;
          //transition
          @include labelTransition();
        }
        input{
          width: 100%;
          border:0px solid red;
          border-bottom: 1px solid #d0dce7;
          height: 36px;
          font-size: 16px;
          display: block;
          &:focus,
          &:valid {
              outline: none;

              &~ label {
                text-transform: uppercase;
                  top: -12px;
                  font-size: 12px;
                  color:#a6b0b7;
              }
          }
        }

      }
    }
  }
}
