body {
    background-color: #f5f8f9;

    .container {
        .settings {
            width: 100%;

            .baseContent {
                p {
                  margin:17px 0;
                    input {
                      width:269px;
                        border: 0 solid red;
                        border-bottom: 1px solid #d0dce7;
                        height: 33px;
                        font-size: 16px;
                        font-weight: 200;

                        &::-webkit-input-placeholder {
                            color: #3f454a;
                        }

                        &::-moz-placeholder {
                            color: #3f454a;
                        }

                        &:-ms-input-placeholder {
                            color: #3f454a;
                        }

                        &:-moz-placeholder {
                            color: #3f454a;
                        }

                        &:focus,
                        &:valid {
                            outline: none;
                        }
                    }
                    button{
                      background-color: #007ee5;
                      padding:11px 34px;
                      border:0px solid red;
                      text-transform: uppercase;
                      font-size: 12px;
                      color:#FFF;
                      font-weight: bold;
                      margin-top:13px;
                      &:focus,
                      &:valid {
                          outline: none;
                          color:#007ee5;
                          background-color: #FFF;
                          border:2px solid #007ee5;
                      }
                    }
                }
            }
        }
    }
}
