body {
    text-align: center;
    font-family: Open Sans;
    // a class that's supposed to show a background image on the body when it's set to the body

    // the main container of the layout that's supposed to contain everything
    .container {
        align-self: center;
        text-align: center;
        width: 1024px;
        // the login container box that holds the login info

        //header general container
        .header {
            @include shadow( '',0px);
            padding: 22px;
            background: #FFF;
            margin-top: 71px;
            .logInOut{
              text-align: right;
              button {
                  &.logOut {
                      background: #FFF;
                      border: 1px solid #007ee5;
                      @include border-radius(3px);
                      text-transform: uppercase;
                      color: #007ee5;
                      font-weight: bold;
                      padding: 10px 20px;
                      font-size: 12px;
                  }
              }
            }
            .cover {
              padding:22px 0 0 0;
                text-align: center;
                button{
                  display: inline-block;
                  text-transform: capitalize;
                  font-size:15px;
                  font-weight: 200;
                  padding:16px 18px 8px 18px;
                  border:1px solid #d0dce7;
                  background: #FFF;
                  color:#787e88;
                  i{
                    font-size: 32px;
                    margin-right: 18px;
                    opacity: .5;
                    float:left;
                    margin-top: -10px;
                  }
                }
            }
            .profInfo{
              div{
                display: inline-block;
                vertical-align: top;
              }
              .left{
                width:33%;
                img{
                  object-fit: cover;
                  width: 171px;
                  height: 171px;
                }
              }
              .center{
                width:33%;
                text-align: left;
                span{
                  display: block;
                }
              }
              .right{
                width:33%;
                float:right;
              }
            }
        }
    }
}
